body {
  font-family: 'Libre Franklin', sans-serif;
}

html {
  background-image: url('https://www.nintendo.com/content/dam/noa/en_US/games/switch/a/animal-crossing-new-horizons-switch/bg_animal_crossing_new_horizons.png');
}

input, select {
    border-radius: 20px;
    border: 2px solid darkgreen;
    padding: 10px 20px;
    margin: 5px;
}

.button {
 display: inline-block;
 padding: 5px 20px;
 cursor: pointer;
 text-align: center;
 outline: none;
 color: #6b5c43;
 background-color: #b0e0e6;
 border: none;
 border-radius: 25px;
 box-shadow: 0 5px #999;
 margin-bottom: 15px;
 margin-right: 10px;
}

.button:hover {background-color: #b0c4de}

.button:active {
  background-color: #6495ed;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.page-header
{
 background-color: lightcyan;
 color: #6b5c43;
 background-image: none;
}

.main-content {
 background-color: white;
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.red {
 background-color:red;
 color: white;
}
.yellow {
 background-color:yellow;
}
.white {
 background-color:white;
}
.blue {
 background-color:blue;
 color: white;
}
.pink {
 background-color:pink;
}
.orange {
 background-color:orange;
}
.black {
 background-color:black;
 color: white;
}
.purple {
 background-color:purple;
 color: white;
}
.green {
 background-color:green;
 color: white;
}
.lightgrey {
 background-color:lightgrey;
}
.white {
 background-color:ghostwhite;
}

.idcolor {
  padding: 10px;
}

#resultTable tbody tr td:nth-child(9) {
 text-align:right;
}
#resultTable2 tbody tr td:nth-child(8) {
 text-align:right;
}
#resultTable3 tbody tr td:nth-child(3) {
    padding: 0px;
}
#resultTable3 tbody tr td:nth-child(4) {
    text-align: right;
}
#resultTable3 tbody tr td:nth-child(5) {
    padding: 0px;
}
#resultTable3 tbody tr td:nth-child(6) {
    text-align: right;
}

table tbody {
 width: 50%;
 counter-reset: row-num;
}
table tbody tr {
 counter-increment: row-num;
}
table tbody tr td:first-child::before {
 content: counter(row-num) ". ";
 text-align: right;
}

