.red {
 background-color:red;
}
.yellow {
 background-color:yellow;
}
.white {
 background-color:white;
}
.blue {
 background-color:blue;
 color: white;
}
.pink {
 background-color:pink;
}
.orange {
 background-color:orange;
}
.black {
 background-color:black;
 color: white;
}
.purple {
 background-color:purple;
 color: white;
}
.green {
 background-color:green;
 color: white;
}
.lightgrey {
 background-color:lightgrey;
}

#resultTable tbody tr td:nth-child(9) {
 text-align:right;
}
#resultTable2 tbody tr td:nth-child(8) {
 text-align:right;
}

table tbody {
  width: 50%;
  counter-reset: row-num;
}
table tbody tr {
  counter-increment: row-num;
}
table tbody tr td:first-child::before {
    content: counter(row-num) ". ";
}

