<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>

    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">
    
{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@500;700&amp;display=swap" rel="stylesheet">   
    <link rel="stylesheet" href="{{ '/assets/css/site.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/tab.css' | relative_url }}">
  </head>
  <body>
    <header class="page-header" role="banner">
      <h1 class="project-name">ACNH Flower Crossbreeding Simulator</h1>
      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
<!--  {% if site.github.is_project_page %}
        <a href="{{ site.github.repository_url }}" class="btn">View on GitHub</a>
      {% endif %} -->
      {% if site.show_downloads %}
        <a href="{{ site.github.zip_url }}" class="btn">Download .zip</a>
        <a href="{{ site.github.tar_url }}" class="btn">Download .tar.gz</a>
      {% endif %}
    </header>

    <main id="content" class="main-content" role="main">
      <p>The table below shows list of flowers and number of variants available for each color.</p>
      <div>
  <table style="font-size:0.8rem;">
  <tr class="lightgrey">
    <th>COLOR</th>
    <th>ROSE</th>
    <th>PANSY</th>
    <th>TULIP</th>
    <th>COSMOS</th>
    <th>LILY</th>
    <th>WINDFLOWER</th>
    <th>MUM</th>
    <th>HYACINTH</th>
  </tr>
  <tr>
    <th class="red">RED (r)</th>
    <td>13*</td>
    <td>6*</td>
    <td>5*</td>
    <td>5*</td>
    <td>3*</td>
    <td>6*</td>
    <td>6*</td>
    <td>6*</td>
  </tr>
  <tr>
    <th class="yellow">YELLOW (y)</th>
    <td>18*</td>
    <td>8*</td>
    <td>9*</td>
    <td>5*</td>
    <td>7*</td>
    <td>-</td>
    <td>6*</td>
    <td>10*</td>
  </tr>
  <tr>
    <th class="white">WHITE (w)</th>
    <td>18*</td>
    <td>2*</td>
    <td>5*</td>
    <td>4*</td>
    <td>8*</td>
    <td>2*</td>
    <td>3*</td>
    <td>4*</td>
  </tr>
  <tr>
    <th class="orange">ORANGE (o)</th>
    <td>9</td>
    <td>5</td>
    <td>2</td>
    <td>7</td>
    <td>4</td>
    <td>8*</td>
    <td>-</td>
    <td>2</td>
  </tr>
  <tr>
    <th class="pink">PINK (p)</th>
    <td>10</td>
    <td>-</td>
    <td>1</td>
    <td>4</td>
    <td>3</td>
    <td>5</td>
    <td>4</td>
    <td>1</td>
  </tr>
  <tr>
    <th class="purple">PURPLE (u)</th>
    <td>9</td>
    <td>3</td>
    <td>3</td>
    <td>-</td>
    <td>-</td>
    <td>3</td>
    <td>6</td>
    <td>3</td>
  </tr>
  <tr>
    <th class="blue">BLUE (b)</th>
    <td>1</td>
    <td>3</td>
    <td>-</td>
    <td>-</td>
    <td>-</td>
    <td>3</td>
    <td>-</td>
    <td>2</td>
  </tr>
  <tr>
    <th class="black">BLACK (h)</th>
    <td>4</td>
    <td>-</td>
    <td>2</td>
    <td>2</td>
    <td>2</td>
    <td>-</td>
    <td>-</td>
    <td>-</td>
  </tr>
  <tr>
    <th class="green">GREEN (g)</th>
    <td>-</td>
    <td>-</td>
    <td>-</td>
    <td>-</td>
    <td>-</td>
    <td>-</td>
    <td>2</td>
    <td>-</td>
  </tr>
</table>
        <span style="font-size:0.8rem;">* means seed is available in this color.</span>
</div>
      
<hr>

<h1>HOW TO USE THE SIMULATOR</h1>
<p>Note : Simulation only, real game logic can be different, and my algorithm might be incorrect. There is no simulation for gold rose. Also self pollination is not taken into account.</p>
      
      <p>Credit to the authors of this <a href="https://docs.google.com/document/d/1ARIQCUc5YVEd01D7jtJT9EEJF45m07NXhAm4fOpNvCs/edit">article</a> and this <a href="https://docs.google.com/spreadsheets/d/1rbYbQ0i3SuTu30KTma5dO4uuJWr_SjOZXA1l4UOIHWo/edit">article</a> for all the information on flower genetics and color.</p>

<h4>DEFINING FLOWER VARIANT</h4>

<p>You can use the two character flag/hex value of the flowers. (e.g. 00, 4f, ..)</p>
<p>Else, I have also self-defined labels for each variant in order for me to keep track of my flowers. You may use it to define the flower too. It is a 3 characters string, the first being the color code (refer table) followed by two digits number.</p>
<p>For example, r04 means red variant 4, u01 means purple variant 1 etc. r11 may be valid for roses but it is invalid for other flower type as only roses have more than 10 red variants.</p>
<p>Seed color will always be represented by number one, e.g. r01 is red seed, y01 is yellow seed and w01 is yellow seed.</p>

<h4>Example</h4>      
<p>You want to know the result for crossing two red seed roses. Choose flower type 'Rose',select 'Check Offspring', then key in 'r01' for both parent A and parent B. Click 'Simulate' and you will get the result. (hex/flag value 'c1' can also be used)</p>
<p>From the result you can see that black rose(h01) is one of the possible offspring. You want to know what will you get if you crossbreed it with a yellow seed rose, just update the parent codes to 'h01' and 'y01' then check the result again.</p>
<div>
  <h4>SELECT FLOWER TYPE</h4>
  <label>Flower Type</label>
  <select id="type">
    <option value="roses">Rose</option>
    <option value="cosmos">Cosmos</option>
    <option value="hyacinths">Hyacinth</option>
    <option value="lilies">Lily</option>
    <option value="mums">Mum</option>
    <option value="pansies">Pansy</option>
    <option value="tulips">Tulip</option>
    <option value="windflowers">Windflower</option>
  </select>
</div>
<h4>CHOOSE WHAT TO CHECK</h4>
<div class="tab">
  <button class="tablinks" onclick="openTab(event, 'offspringTab')">Check Offspring</button>
  <button class="tablinks" onclick="openTab(event, 'parentTab')">Check Parent</button>
  <button class="tablinks" onclick="openTab(event, 'identifyTab')">Check Identifier</button>
</div>

<div id="offspringTab" class="tabcontent">
	<div>
		<label>Parent A</label><input id="pa" placeholder="e.g. r01, c1">
	</div>
	<div>
		<label>Parent B</label><input id="pb" placeholder="e.g. y02, 03">
	</div>
	<div>
		<button class="button" onclick="checkOffSpring(document.getElementById('pa').value, document.getElementById('pb').value)">Simulate</button>
	</div>
    <table id="resultTable" style="display:none;">
		<thead>
			<tr class="lightgrey"><th>NO</th><th>R</th><th>Y</th><th>W</th><th>S</th><th><a onclick="sortTable('resultBody', 5, -1);setColorClass2('resultBody', 5);">COLOR</a></th><th>LABEL</th><th>HEX</th><th><a onclick="sortTable('resultBody', 8, -1);setColorClass2('resultBody', 5);">%</a></th></tr>
		</thead>
		<tbody id="resultBody">
		</tbody>
	</table>
</div>

<div id="parentTab" class="tabcontent">
	<div>
		<label>Offspring</label><input id="child" placeholder="e.g. b01">
	</div>
	<button class="button" onclick="checkParent(document.getElementById('child').value)">Simulate</button>
	
<div id="parentResult" style="display:none;">
<button class="button" id="parentFilterBtn" onclick="filterParentResult();">Remove parent=offspring</button>
	<button class="button" id="colorFilterBtn" onclick="filterParentColorResult();">Remove color=offspring</button>
	<table id="resultTable2">
		<thead>
			<tr class="lightgrey"><th>NO</th><th>Parent 1</th><th>Hex</th><th>Color</th><th>Parent 2</th><th>Hex</th><th>Color</th><th>%</th><th>CC</th></tr>
		</thead>
		<tbody id="resultBody2">
		</tbody>
	</table>
	</div>
</div>

<div id="identifyTab" class="tabcontent">
  <div>
    <label>Possible Gene 1</label><input id="ga" placeholder="e.g. r01, c1">
  </div>
  <div>
    <label>Possible Gene 2</label><input id="gb" placeholder="e.g. y02, 03">
  </div>
  <div>
    <button class="button" onclick="checkIdentifier(document.getElementById('ga').value, document.getElementById('gb').value)">Simulate</button>
  </div>
    <table id="resultTable3" style="display:none;">
    <thead>
      <tr class="lightgrey"><th>NO</th><th>IDENTIFIER</th><th>Gene 1</th><th><a onclick="sortTable('resultBody3', 3, -1);setColorClass2('resultBody3', 1);">%</a></th><th>Gene 2</th><th><a onclick="sortTable('resultBody3', 5, -1);setColorClass2('resultBody3', 1);">%</a></th></tr>
    </thead>
    <tbody id="resultBody3">
    </tbody>
  </table>
</div>

      <footer class="site-footer">
  <!--      {% if site.github.is_project_page %}
          <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
        {% endif %} -->
        <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a>.</span>
      </footer>
    </main>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.15/lodash.js"></script>
    <script type="text/javascript" src="{{ '/assets/js/flowerdb.js' | relative_url }}"></script>
    <script type="text/javascript" src="{{ '/assets/js/site.js' | relative_url }}"></script>
    <script type="text/javascript" src="{{ '/assets/js/tab.js' | relative_url }}"></script>
  </body>
</html>
