<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>

    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/acnhcrosstest/assets/css/site.css">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>

    <header class="page-header" role="banner">
      <h1 class="project-name">ACNH Flower Crossbreeding Result Prediction</h1>
      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
<!--  {% if site.github.is_project_page %}
        <a href="{{ site.github.repository_url }}" class="btn">View on GitHub</a>
      {% endif %} -->
      {% if site.show_downloads %}
        <a href="{{ site.github.zip_url }}" class="btn">Download .zip</a>
        <a href="{{ site.github.tar_url }}" class="btn">Download .tar.gz</a>
      {% endif %}
    </header>

    <main id="content" class="main-content" role="main">
      
      <p>Not all flowers of same species and color are equal!! They might look alike but their genes can be different, and this will affect the offspring color and rate when being crossbred.</p>
        
      <p>For example, there is a total of 13 red rose variant. If you crossbreed 2 red roses, depending on the gene, the offspring they produce may be different.</p>
      <img src="{{ '/assets/img/rose-difference.png" alt="genedifference" style="height:300px"' }}>
      
      <p>The table below shows list of flowers and number of variants available for each color.</p>
      <div>
  <table style="font-size:0.8rem;">
  <tr class="lightgrey">
    <th>COLOR</th>
    <th>ROSE</th>
    <th>PANSY</th>
    <th>TULIP</th>
    <th>COSMOS</th>
    <th>LILY</th>
    <th>WINDFLOWER</th>
    <th>MUM</th>
    <th>HYACINTH</th>
  </tr>
  <tr>
    <th class="red">RED (r)</th>
    <td>13*</td>
    <td>6*</td>
    <td>5*</td>
    <td>5*</td>
    <td>3*</td>
    <td>6*</td>
    <td>6*</td>
    <td>6*</td>
  </tr>
  <tr>
    <th class="yellow">YELLOW (y)</th>
    <td>18*</td>
    <td>8*</td>
    <td>9*</td>
    <td>5*</td>
    <td>7*</td>
    <td>-</td>
    <td>6*</td>
    <td>10*</td>
  </tr>
  <tr>
    <th class="white">WHITE (w)</th>
    <td>18*</td>
    <td>2*</td>
    <td>5*</td>
    <td>4*</td>
    <td>8*</td>
    <td>2*</td>
    <td>3*</td>
    <td>4*</td>
  </tr>
  <tr>
    <th class="orange">ORANGE (o)</th>
    <td>9</td>
    <td>5</td>
    <td>2</td>
    <td>7</td>
    <td>4</td>
    <td>8*</td>
    <td>-</td>
    <td>2</td>
  </tr>
  <tr>
    <th class="pink">PINK (p)</th>
    <td>1</td>
    <td>-</td>
    <td>1</td>
    <td>4</td>
    <td>3</td>
    <td>5</td>
    <td>4</td>
    <td>1</td>
  </tr>
  <tr>
    <th class="purple">PURPLE (u)</th>
    <td>9</td>
    <td>3</td>
    <td>3</td>
    <td>-</td>
    <td>-</td>
    <td>3</td>
    <td>6</td>
    <td>3</td>
  </tr>
  <tr>
    <th class="blue">BLUE (b)</th>
    <td>1</td>
    <td>3</td>
    <td>-</td>
    <td>-</td>
    <td>-</td>
    <td>3</td>
    <td>-</td>
    <td>2</td>
  </tr>
  <tr>
    <th class="black">BLACK (h)</th>
    <td>4</td>
    <td>-</td>
    <td>2</td>
    <td>2</td>
    <td>2</td>
    <td>-</td>
    <td>-</td>
    <td>-</td>
  </tr>
  <tr>
    <th class="green">GREEN (g)</th>
    <td>-</td>
    <td>-</td>
    <td>-</td>
    <td>-</td>
    <td>-</td>
    <td>-</td>
    <td>2</td>
    <td>-</td>
  </tr>
</table>
        <span style="font-size:0.8rem;">* means seed is available in this color.</span>
</div>
      
<p>To keep track of flower gene, it is best that you start from seed as the gene of seed is fixed.</p>
      
<hr>

<h1>FINDOUT POSSIBLE OFFSPRING</h1>
      <p>Note : Only estimated, self pollination is not taken into account.</p>

<h4>DEFINING PARENT</h4>
<p>Key in the two character hex value of the flowers (e.g. 00, 4f, ..)</p>
<p>I have also created label for each variant for me to keep track of my flowers. You may use it to define the parents too. It is a 3 characters string, the first being the color code (refer table) followed by two digits number.</p>
    <p>For example, r04 means red variant 4, u01 means purple variant 1 etc.</p>
<p>Seed color will always be represented by number one e.g. r01 is red seed, y01 is yellow seed.</p>
      
<p>If you key in 'r01' for parent A and 'r01' for parent B, you will get the result for crossbreeding 2 red seed flower.</p>
      
      <div>
  <h4>SELECT FLOWER TYPE</h4>
  <label>Flower Type</label>
  <select id="type">
    <option value="roses">Rose</option>
    <option value="cosmos">Cosmos</option>
    <option value="hyacinths">Hyacinth</option>
    <option value="lilies">Lily</option>
    <option value="mums">Mum</option>
    <option value="pansies">Pansy</option>
    <option value="tulips">Tulip</option>
    <option value="windflowers">Windflower</option>
  </select>
</div>
      
<div>
  <label>Parent A</label><input id="pa" placeholder="e.g. 1c, r01"></input>
</div>
<div>
  <label>Parent B</label><input id="pb" placeholder="e.g. 03, y02"></input>
</div>
<div>
  <button onclick="checkOffSpring()">Check Offspring</button>

  <table id="resultTable" style="display:none;">
    <thead>
      <tr class="lightgrey"><th>NO</th><th>R</th><th>Y</th><th>W</th><th>S</th><th>COLOR</th><th>LABEL</th><th>HEX</th><th>%</th></tr>
    </thead>
    <tbody id="resultBody">
    </tbody>
  </table>
</div>

      <footer class="site-footer">
        {% if site.github.is_project_page %}
          <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
        {% endif %}
        <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a>.</span>
      </footer>
    </main>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.15/lodash.js"></script>
    <script type="text/javascript" src="{{ '/assets/js/flowerdb.js"' }}></script>
    <script type="text/javascript" src="{{ '/assets/js/site.js"' }}></script>
  </body>
</html>
